
@{
    ViewBag.Title = "Index";
}


<h2>Bienvenido a Turismo Real</h2>
@Html.ActionLink("Lista de Deptos", "Index","Deptos")
@Html.ActionLink("Crear Depto", "Create","Deptos")

@Html.ActionLink("Listado de ItemsDepto","Index","ItemsDepto")
@Html.ActionLink("Crear item para un Depto","Create","ItemsDepto")

